.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 8px;
}

#title {
  grid-column: 1 / -1;
  /*this should span the entire page, look into using negative numbers in grid-column-end*/
}



div:not(#title) {
  font-size: 20px;
  overflow: auto;
  word-wrap: break-word;
}

.sibling {
  grid-column: span 2;
  grid-row: span 1;
}
.auntUncle {
  grid-column: span 1;
  grid-row: span 2;
}
.grandparent {
  grid-column: span 2;
  grid-row: span 2;
}
.cousinsFriends {
  grid-column: span 1;
  grid-row: span 1;
}
/* Style other types of family members below*/
