.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr 10fr 1fr;
}

#navbar {
  grid-column: span 5;
}

#sidebar {
  writing-mode: vertical-rl;
  grid-row-start: 1;
  grid-column-start: 0;
  grid-row: span 2;
}

#title {
  grid-column: span 4;
}


#content {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: 6;
}

#footer {
  grid-row-start: 4;
  grid-column: span 5;
}
